<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<!--
		核心组件：
		appender：定义日志输出目标（控制台 ConsoleAppender、文件 RollingFileAppender 等）；
		layout：定义日志格式（如包含时间、线程名、级别等）；
		logger：控制特定包或类的日志级别（如 com.mchange 包）。
		关键配置项：
		log4j.rootLogger（1.x）或 <Root>（2.x）：全局日志级别和默认输出目标；
		ConversionPattern（1.x）或 pattern（2.x）：日志格式定义，可按需调整；
		File：日志文件路径，${user.dir} 表示项目根目录，确保有写入权限。
	-->>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 根日志配置 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        
        <!-- 解决 com.mchange 包的警告 -->
        <Logger name="com.mchange" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>