uai-vec/*.dylib
uai-vec/*.db
/target
**/.DS_Store
.DS_Store
**/target
**/.settings
.settings
.classpath
.project
.idea
**/.classpath
**/.project
**/.idea
*.iml
.springBeans
**/.springBeans
rebel*.xml
/batch/.settings
/batch/*.bak
/code-generate/*.bak
/common/*.bak
/dao/*.bak
/service/*.bak
/web/*.bak
/batch/src/main/resources/*.bak
/web/*.classpath
/web/.settings
/web/.classpath
/batch/.classpath
/batch/.project
/dao/src/main/java/com/lianjia/merlin/dao/*.bak
/dao/src/main/resources/mapper/*.bak
/web/src/main/webapp/WEB-INF/templates/api/*.bak
velocity.log*
*.cachefile
.env
.env.*
!.env.example
